body {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    color: black;
    background-color: #ffffff;
    margin: 20px;
    padding: 0;
}

p {
    line-height: 21px;
    color: #900;
}

h1 {
    color: #900;
    background-color: #ffffff;
    font-size: 3em;
    margin: 0;
    margin-bottom: 7px;
    padding: 4px;
    font-style: italic;
    text-align: center;
    letter-spacing: 0.5em;
    border-bottom-style: solid;
    border-bottom-width: 0.5em;
    border-bottom-color: #b77575;
}

h6{
    
}

h2 {
    color: white;
    background-color: #b77575;
    font-size: 1.5em;
    margin: 0;
    padding: 2px;
    padding-left: 14px;
}

h3 {
    align-content: center;
    color: white;
    background-color: #b77575;
    font-size: 1.5em;
    margin: 0;
    padding: 2px;
    padding-left: 14px;
}

img {
    border-style: dashed;
    border-width: 2px;
    border-color: #b77575;
}

a {
    text-decoration: none;
}

strong {
    font-style: italic;
    text-transform: uppercase;
}

li {
    color: #900;
    font-style: italic;
}

table {
    background-color: #ccc;
}